In [30]:
from bs4 import BeautifulSoup
import requests

In [31]:
url  = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text,'html')

In [32]:
table = soup.find_all('table')[1]

In [33]:
 Title = table.find_all('th')

In [34]:
table_title = [Tname.text.strip() for Tname in Title]

In [35]:
print(table_title)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [36]:
import pandas as pd

In [37]:
df = pd.DataFrame(columns=table_title)

In [43]:
column_data = table.find_all('tr')

In [52]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    indiual_row =[ rd.text.strip() for rd in row_data ]
    length = len(df)
    df.loc[length]  = indiual_row

In [57]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,General merchandisers,"572,754",2.4%,"2,300,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"469,822",21.7%,"1,608,000","Seattle, Washington"
2,3,Apple,Electronics industry,"365,817",33.2%,"154,000","Cupertino, California"
3,4,CVS Health,Healthcare,"292,111",32.0%,"258,000","Woonsocket, Rhode Island"
4,5,UnitedHealth Group,Healthcare,"287,597",11.8%,"350,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
195,96,General Dynamics,Airspace and defense,"38,469",8.7%,"103,100","Reston, Virginia"
196,97,CHS,Agriculture cooperative,"38,448",1.4%,"9,941","Inver Grove Heights, Minnesota"
197,98,USAA,Financials,"37,470",3.2%,"37,335","San Antonio, Texas"
198,99,Northwestern Mutual,Insurance,"36,751",8.8%,"7,585","Milwaukee, Wisconsin"
199,100,Nucor,Metals,"36,484",81.2%,"28,800","Charlotte, North Carolina"

In [60]:
df.to_csv(r'C:\Users\ASUS\Documents\companies.csv',index = False)

In [61]:
table2 = soup.find_all('table')[2]

In [64]:
 Title2 = table2.find_all('th')

In [65]:
table_title2 = [Tname2.text.strip() for Tname2 in Title2]

In [66]:
table_title2

['Rank', 'Name', 'Industry', 'Profits(USD millions)']